:root{
  margin:0 auto;  
  font-family: 'PT Astra Sans',Arial; 
  color:  #163E6C;   

} 

.CompanyInfo text{   
  font-size: 1.6em;
  color: #163E6C;
  background: #EBE6D6;
  }
  
@media (min-width: 1537px) and (max-width: 1920px)  {
  .CompanyInfo text{   
    font-size: 1.6em;   
    }
 
}
@media (min-width: 1441px) and (max-width: 1536px)  {
  .CompanyInfo text{   
    font-size: 1.4em;   
    }
 
}
@media (min-width: 1367px) and (max-width: 1440px)  {
  .CompanyInfo text{   
    font-size: 1.2em;   
    }
  
}
@media (min-width: 360px) and (max-width: 1366px) {
  .CompanyInfo text{   
    font-size: 1em;   
    }
 
}
@media (max-width:360px) {
  .CompanyInfo text{   
    font-size: 0.8em;   
    }
 
}