:root{
    margin:0 auto;  
    font-family: 'PT Astra Sans',Arial; 
    color:  #163E6C;   

}
 
.BaseInfoCar button { 
    margin: 10px 10px;
    padding: 10px 15px;
    line-height: 28px;
    border: 10 px;
    border-radius: 9px;
    border: 2px solid #6c757d;
    font-size: 1.2em;
    color: #163E6C;
    background: #EBE6D6;
    transition: 0.3s;
  }
    .BaseInfoCar text{    
      border: none;
      margin: 10px 10px;
      padding: 10px 15px;
      line-height: 28px;
      border-radius: 9px;
      border: 2px solid #6c757d;
      font-size: 1.2em;
      color: #163E6C;
      background: #EBE6D6;
      transition: 0.3s;
  
    }
  
    .BaseInfoCar input {    
      margin: 10px 10px;
      padding: 10px 15px;
      line-height: 28px;
      border: 2;
      border-radius: 9px;
      border: 2px solid #6c757d;
      font-size: 1.2em;
      color: #163E6C;
      background: white;
      transition: 0.3s;
    } 

    @media (min-width: 1537px) and (max-width: 1920px)  {
      .BaseInfoCar input {   
        line-height: 28px;        
        font-size: 1.2em;        
      } 
      .BaseInfoCar text{ 
        font-size: 1.2em;
      }
      .BaseInfoCar button {       
        line-height: 28px;        
        font-size: 1.2em;        
      }      
    }
    @media (min-width: 1441px) and (max-width: 1536px)  {
      .BaseInfoCar input {   
        line-height: 24px;        
        font-size: 1.2em;        
      } 
      .BaseInfoCar text{ 
        font-size: 1.2em;
      }
      .BaseInfoCar button {       
        line-height: 24px;        
        font-size: 1.2em;        
      } 
    }
    @media (min-width: 1367px) and (max-width: 1440px)  {
      .BaseInfoCar input {   
        line-height: 20px;        
        font-size: 1em;        
      } 
      .BaseInfoCar text{ 
        font-size: 1em;
      }
      .BaseInfoCar button {       
        line-height: 20px;        
        font-size: 1em;        
      } 
    }
    @media (min-width: 360px) and (max-width: 1366px) {
      .BaseInfoCar input {   
        line-height: 18px;        
        font-size: 1em;        
      } 
      .BaseInfoCar text{ 
        font-size: 1em;
      }
      .BaseInfoCar button {              
        line-height: 18px;        
        font-size: 1em;        
      } 
    }
    @media screen and (max-width:360px) {
      .BaseInfoCar input {
        display: block ;   
        line-height: 20px;        
        font-size: 0.8em;        
      } 
      .BaseInfoCar text{
        display: block ; 
        font-size: 1em;
      }
      .BaseInfoCar button {
        display: block ;       
        line-height: 20px;        
        font-size: 1em;        
      } 
    }