.form{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 15px;
    margin-top: 40px;
}
.form__label{
    color: #6c757d;
}
.form__loginInput{
    height: 43px;
    border-radius: 5px;
    border: 2px solid #6c757d;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
}
.form__errText{
    display: block;
    color: #D20A11;
    align-self: center;
    margin: -8px auto 10px auto;
}